@charset 'UTF-8';
/********************************************************************************
 * Layout
 ********************************************************************************/
.snapPea-pop{
  background-color: #000;
  width: 280px;
  height: 100px;
  position: fixed;
  top:10px!important;
  right:10px;
  opacity: 0.8;
  border-radius: 15px;
  z-index: 99998;
  display: none;
}

.snapPea-pop .icon{
  width: 50px;
  height: 50px;
  top: 18px!important;
  left: 43%;
  position: absolute;
}

.snapPea-pop p{
  color: white;
  font-size: 14px;
  display: block;
  position: absolute;
  top: 68px!important;
}

.snapPea-pop div.savedone{
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/savedone.png');
}

.snapPea-pop p.savedone{
  left: 105px;
}

.snapPea-pop div.saving{
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/saving.png');
}

.snapPea-pop p.saving{
  left: 49px;
  width: 270px;
}

.snapPea-pop div.savefailed{
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/savefailed.png');
}

.snapPea-pop p.savefailed{
  left: 90px;
}